.header {
    background-color: #c7d8f9;
    height: 80px;
}

.logo {
    height: 30px;
}

.banner {
    height: 200px;
    background-color: #c75f5f;
}

.contact {
    font-size: 50px;
}